html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus {
  /* remember to define focus styles! */
  outline: 0;
}
body {
  line-height: 1;
}
html,
body {
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* =Global
----------------------------------------------- */
body,
input,
textarea {
  color: #373737;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
}
body {
  background: #EEEEEE;
}
#page {
  background: #fff;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}
/* Text elements */
ul,
ol {
  margin: 0 0 1.625em 2.5em;
}
ul {
  list-style: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 1.625em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.625em;
}
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
pre {
  background: #f4f4f4;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}
code,
kbd,
samp,
var {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym,
dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 1.625em;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
/* Forms */
input[type=text],
input[type=password],
textarea {
  background: #fafafa;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  color: #888;
}
input[type=text]:focus,
textarea:focus {
  color: #373737;
}
textarea {
  padding-left: 3px;
  width: 98%;
}
input[type=text] {
  padding: 3px;
}
input#s {
  background: url(images/search.png) no-repeat 5px 6px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input#searchsubmit {
  display: none;
}
.input-right-angle {
  border-radius: 0;
}
.right-angle {
  border-radius: 0;
}
/* Links */
a {
  color: #1982d1;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  text-decoration: underline;
}
/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #1982d1;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}
.pd-lr-xs {
  padding: 0 6px;
}
.pd-l-xs {
  padding-left: 6px;
}
.pd-l-sm {
  padding-left: 12px;
}
.pd-b-xs {
  padding-bottom: 6px;
}
.pd-t-xs {
  padding-top: 6px;
}
a:hover {
  text-decoration: none;
}
.btn-flat.btn-black {
  background: #000;
  color: #fff;
}
.btn-flat.btn-purple {
  background: #b7358f;
  color: #fff;
}
.btn-flat.btn-yellow {
  background: #ffff00;
  color: #661445;
}
.btn-flat.btn-right-angle {
  border-radius: 0;
}
.radius-0 {
  border-radius: 0;
}
.border-non {
  border: none;
}
.white-block {
  height: 24px;
}
.white-block-12 {
  height: 12px;
}
.p-indent {
  text-indent: 2em;
}
ul.step {
  list-style: none;
}
ul.step li {
  position: relative;
}
ul.step li::after {
  position: absolute;
  left: -26px;
  width: 16px;
  height: 16px;
  top: 4px;
  border-radius: 8px;
  text-align: center;
  line-height: 16px;
  background: #ffff00;
  color: #902865;
  font-weight: bold;
}
ul.step li:nth-of-type(1)::after {
  content: '1';
}
ul.step li:nth-of-type(2)::after {
  content: '2';
}
ul.step li:nth-of-type(3)::after {
  content: '3';
}
ul.step li:nth-of-type(4)::after {
  content: '4';
}
ul.step li:nth-of-type(5)::after {
  content: '5';
}
ul.step li:nth-of-type(6)::after {
  content: '6';
}
ul.step li:nth-of-type(7)::after {
  content: '7';
}
ul.step li:nth-of-type(8)::after {
  content: '8';
}
ul.step li:nth-of-type(9)::after {
  content: '9';
}
.text-purple {
  color: #b7358f;
}
.text-yellow {
  color: #ffff00;
}
.col-horizontal-left {
  padding-right: 0;
}
.col-horizontal-right {
  padding-left: 0;
}
.mobile {
  background: url(../img/main-bg.jpg);
  background-position: 0 39%;
  color: #fff;
  font-size: 12px;
}
.mobile .page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.mobile .banner,
.mobile .agreement,
.mobile .connect-step,
.mobile .footer {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.mobile .banner {
  height: 39%;
  top: 0;
}
.mobile .banner .carousel-inner,
.mobile .banner .item {
  height: 100%;
}
.mobile .banner::after {
  position: absolute;
  content: " ";
  background: #fff;
  height: 3px;
  bottom: 0;
  width: 100%;
}
.mobile .agreement {
  height: 33%;
  top: 39%;
}
.mobile .agreement h1 {
  text-align: center;
  font-size: 14px;
  padding-bottom: 6px;
}
.mobile .connect-step {
  height: 19%;
  bottom: 9%;
  color: #ffff00;
}
.mobile .connect-step .left {
  width: 65%;
  padding-right: 5%;
  left: 0;
}
.mobile .connect-step .right {
  width: 35%;
  right: 0;
}
.mobile .connect-step .right .img-responsive {
  max-height: 95%;
  display: block;
}
.mobile .connect-step .step-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.mobile .connect-step .left,
.mobile .connect-step .right {
  position: absolute;
  padding: 0 15px;
  top: 0;
  max-height: 100%;
}
.mobile .footer {
  height: 9%;
  bottom: 0;
  background: #fff;
}
.mobile .footer .img-responsive {
  max-height: 75%;
  margin: 0 auto;
}
.v-center-layer {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.carousel-h-static.carousel {
  height: 100%;
}
.carousel-h-static.carousel .carousel-indicators {
  bottom: -14px;
}
.carousel-h-static.carousel .item .img-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.carousel-h-static.carousel .item .img-wrapper img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
ul.step {
  margin: 0 0 0 12px;
  padding-left: 18px;
}
ul.step li {
  line-height: 20px;
}
.mportal {
  background: #fff;
  color: inherit;
  font-size: 0.9rem;
}
.mportal .primary {
  position: absolute;
  height: 52%;
  bottom: 9%;
}
.mportal .primary h1 {
  font-size: 1.2rem;
  text-align: center;
  margin: 12px 0 12px;
}
.mportal .primary .btn {
  margin-top: 12px;
}
.mportal .primary p {
  text-align: justify;
}
.mportal .footer {
  font-size: 0.9rem;
  line-height: 1rem;
}
.bank-name {
  color: #b7358f;
}
.desktop {
  background: #fff;
}
.desktop .banner,
.desktop .agreement,
.desktop .footer,
.desktop .page {
  position: absolute;
  background: url(../img/main-bg.jpg);
}
.desktop .page {
  width: 80%;
  max-width: 1024px;
  top: 50%;
  left: 50%;
  height: 535px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}
.desktop .banner {
  position: absolute;
  width: 60%;
  height: 320px;
  top: 0;
}
.desktop .banner .carousel-inner,
.desktop .banner .item {
  height: 100%;
}
.desktop .agreement {
  width: 40%;
  right: 0;
  height: 320px;
  padding: 24px;
  font-size: 0.8rem;
  text-align: justify;
}
.desktop .agreement .img-wrapper {
  width: 75%;
  margin: 0 auto;
}
.desktop .agreement h1 {
  color: #ffff00;
  text-align: center;
  margin: 24px 0;
  font-size: 1.2rem;
}
.desktop .agreement form {
  position: absolute;
  bottom: 12px;
  width: 100%;
  left: 0;
}
.desktop .footer {
  top: 320px;
  width: 100%;
  background: #661445;
  position: relative;
  height: 215px;
  padding: 24px;
}
.desktop .footer .support {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: .8rem;
  color: #c0619a;
}
.desktop .footer .step {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: .8rem;
}
.desktop .footer .left {
  position: absolute;
  left: 0;
  padding-right: 3%;
  width: 77.5%;
}
.desktop .footer .left .col-horizontal-left {
  padding-right: 3px;
}
.desktop .footer .left button {
  font-weight: bold;
}
.desktop .footer .left form {
  margin-top: 36px;
}
.desktop .footer .right {
  position: absolute;
  right: 0;
  width: 22.5%;
}
@media (max-height: 420px) and (max-width: 400px) {
  .mobile .agreement p:nth-of-type(1) {
    display: none;
  }
  .mobile {
    font-size: 10px;
  }
  .mobile .agreement {
    height: 27%;
  }
  .mobile .connect-step {
    height: 25%;
  }
}
@media (max-height: 440px) {
  .mobile .agreement p.text-right {
    display: none;
  }
}
@media (min-width: 400px) {
  .mobile .connect-step .step-container {
    width: 90%;
    left: 5%;
  }
  .mobile .connect-step .step-container .left {
    width: 60%;
    padding-left: 10%;
  }
  .mobile .connect-step .step-container .right {
    width: 35%;
    right: 5%;
  }
  .mportal .primary {
    font-size: 1rem;
  }
  .mportal .primary h1 {
    font-size: 1.2rem;
  }
}
@media (min-width: 480px) {
  .mobile {
    font-size: 14px;
  }
  .mobile .agreement h1,
  .mobile .connect-step .step-describe {
    font-size: 16px;
  }
  .mobile .connect-step .step-container {
    width: 90%;
    left: 5%;
  }
  .mobile .connect-step .step-container .left {
    width: 65%;
    padding-left: 10%;
  }
  .mobile .connect-step .step-container .right {
    width: 35%;
  }
  .mportal .primary {
    font-size: 1.1rem;
    padding-top: 12px;
  }
  .mportal .primary h1 {
    font-size: 1.3rem;
  }
  .mportal .primary .btn {
    font-size: 1.1rem;
  }
}
@media (min-width: 580px) {
  .mobile .agreement h1,
  .mobile .connect-step .step-describe {
    font-size: 16px;
  }
  .mobile .connect-step .step-container {
    width: 80%;
    left: 10%;
  }
  .mobile .connect-step .step-container .left {
    width: 60%;
    padding-left: 10%;
  }
  .mobile .connect-step .step-container .right {
    width: 40%;
  }
  .mportal .primary {
    font-size: 1.2rem;
    padding-top: 24px;
  }
  .mportal .primary h1 {
    font-size: 1.5rem;
    margin-bottom: 18px;
  }
  .mportal .primary .btn {
    margin-top: 18px;
    font-size: 1.2rem;
  }
}
@media (min-width: 630px) {
  .mobile .agreement h1,
  .mobile .connect-step .step-describe {
    font-size: 18px;
  }
  .mportal .primary {
    font-size: 1.5rem;
    padding-top: 48px;
  }
  .mportal .primary h1 {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .mportal .primary .btn {
    margin-top: 24px;
    font-size: 1.5rem;
  }
}
.mobile.horizontal-screen .page {
  height: 200%;
}
