@import 'basic.less';

.mobile {
	background: url(../img/main-bg.jpg);
	background-position: 0 39%;
	color: #fff;
	font-size: 12px;

	.page {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
	}

	.banner, .agreement, .connect-step, .footer {
		position: absolute;
		width: 100%;
		overflow: hidden;
	}

	.banner {
		height: 39%;
		top: 0;

		.carousel-inner, .item {
			height: 100%;
		}

		&::after {
			position: absolute;
			content: " ";
			background: #fff;
			height: 5px;
			bottom: 0;
			width: 100%;
		}
	}

	.agreement {
		height: 33%;
		top: 39%;


		h1 {
			text-align: center;
			font-size: 14px;
			padding-bottom: 6px;
		}
	}

	.connect-step {
		height: 19%;
		bottom: 9%;
		color: #ffff00;

		.left {
			width: 65%;
			padding-right: 5%;
			left: 0;
		}

		.right {
			width: 35%;
			right: 0;

			.img-responsive {
				max-height: 95%;
				display: block;
			}
		}

		.step-container {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 0 15px;
		}

		.left, .right {
			position: absolute;
			padding: 0 15px;
			top: 0;

			max-height: 100%;
		}
	}

	.footer {
		height: 9%;
		bottom: 0;

		background: #fff;

		.img-responsive {
			max-height: 75%;
			margin: 0 auto;
		}
	}
}

// 垂直居中的 布局层
.v-center-layer {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

// 固定高度的 carousel
.carousel-h-static.carousel {
	height: 100%;

	.carousel-indicators {
		bottom: -14px;
	}

	.item {
		.img-wrapper {
			position: relative;
			height: 100%;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

// step list
ul.step {
	margin: 0 0 0 12px;
	padding-left: 18px;

	li {
		line-height: 20px;
	}
}


//responsive code
@media (max-height: 420px ) and ( max-width: 400px ) {
	.mobile .agreement {
		p:nth-of-type(1) {
			display: none;
		}
	}

	.mobile {
		font-size: 10px;

		.agreement {
			height: 27%;
		}

		.connect-step {
			height: 25%;
		}
	}
}

@media (max-height: 440px) {
	.mobile .agreement {
		p.text-right {
			display: none;
		}
	}
}