@import 'basic.less';

.mobile {
	background: url(../img/main-bg.jpg);
	background-position: 0 39%;
	color: #fff;
	font-size: 12px;

	.page {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
	}

	.banner, .agreement, .connect-step, .footer {
		position: absolute;
		width: 100%;
		overflow: hidden;
	}

	.banner {
		height: 39%;
		top: 0;

		.carousel-inner, .item {
			height: 100%;
		}

		&::after {
			position: absolute;
			content: " ";
			background: #fff;
			height: 5px;
			bottom: 0;
			width: 100%;
		}
	}

	.agreement {
		height: 33%;
		top: 39%;


		h1 {
			text-align: center;
			font-size: 14px;
			padding-bottom: 6px;
		}
	}

	.connect-step {
		height: 19%;
		bottom: 9%;
		color: #ffff00;

		.left {
			width: 65%;
			padding-right: 5%;
			left: 0;
		}

		.right {
			width: 35%;
			right: 0;

			.img-responsive {
				max-height: 95%;
				display: block;
			}
		}

		.step-container {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 0 15px;
		}

		.left, .right {
			position: absolute;
			padding: 0 15px;
			top: 0;

			max-height: 100%;
		}
	}

	.footer {
		height: 9%;
		bottom: 0;

		background: #fff;

		.img-responsive {
			max-height: 75%;
			margin: 0 auto;
		}
	}
}

// 垂直居中的 布局层
.v-center-layer {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

// 固定高度的 carousel
.carousel-h-static.carousel {
	height: 100%;

	.carousel-indicators {
		bottom: -14px;
	}

	.item {
		.img-wrapper {
			position: relative;
			height: 100%;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

// step list
ul.step {
	margin: 0 0 0 12px;
	padding-left: 18px;

	li {
		line-height: 20px;
	}
}


// ----------------------------------------
// ! mportal
// ----------------------------------------
.mportal {
	background: #fff;
	color: inherit;
	font-size: 0.9rem;

	.primary {
		position: absolute;
		height: 52%;
		bottom: 9%;

		h1 {
			font-size: 1.2rem;
			text-align: center;
			margin: 12px 0 12px;
		}

		.btn {
			margin-top: 12px;
		}

		p {
			text-align: justify;
		}
	}

	.footer {
		font-size: 0.8rem;
		line-height: 1rem;
	}
}

.bank-name {
	.text-purple();
}


// ----------------------------------------
// ! desktop style
// ----------------------------------------
.desktop {
	background: #fff;

	.banner, .agreement, .footer, .page {
		position: absolute;
		background: url(../img/main-bg.jpg);
	}

	.page {
		width: 80%;
		max-width: 1024px;
		top: 50%;
		left: 50%;
		height: 535px;
		transform: translate(-50%, -50%);
		color: #fff;
	}

	.banner {
		position: absolute;
		width: 60%;
		height: 320px;
		top: 0;

		.carousel-inner, .item {
			height: 100%;
		}
	}

	.agreement {
		width: 40%;
		right: 0;
		height: 320px;
		padding: 24px;
		font-size: 0.9rem;
		text-align: justify;

		.img-wrapper {
			width: 75%;
			margin: 0 auto;
		}

		h1 {
			color: #ffff00;
			text-align: center;
			margin: 24px 0;
			font-size: 1.2rem;
		}

		form {
			position: absolute;
			bottom: 12px;
			width: 100%;
			left: 0;
		}
	}

	.footer {
		top: 320px;
		width: 100%;
		background: #661445;
		position: relative;
		height: 215px;
		padding: 24px;

		.support {
			position: absolute;
			bottom: 15px;
			left: 15px;

			font-size: .8rem;
			color: #c0619a;
		}

		.step {
			width: 80%;
			margin: 0 auto;
			position: relative;
			font-size: .8rem;
		}

		.left {
			position: absolute;
			left: 0;
			padding-right: 3%;
			width: 77.5%;

			.col-horizontal-left {
				padding-right: 3px;
			}

			button {
				font-weight: bold;
			}

			form {
				margin-top: 36px;
			}
		}

		.right {
			position: absolute;
			right: 0;
			width: 22.5%;
		}
	}
}	

//responsive code
@media (max-height: 420px ) and ( max-width: 400px ) {
	.mobile .agreement {
		p:nth-of-type(1) {
			display: none;
		}
	}

	.mobile {
		font-size: 10px;

		.agreement {
			height: 27%;
		}

		.connect-step {
			height: 25%;
		}
	}
}

@media (max-height: 440px) {
	.mobile .agreement {
		p.text-right {
			display: none;
		}
	}
}

@media (min-width: 400px) {
	.mobile .connect-step .step-container {
		width: 90%;
		left: 5%;

		.left {
			width: 60%;
			padding-left: 10%;
		}

		.right {
			width: 35%;
			right: 5%;
		}
	}

	.mportal {
		.primary {
			font-size: 1rem;

			h1 {
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 480px) {
	.mobile {
		font-size: 14px;

		.agreement h1, .connect-step .step-describe  {
			font-size: 16px;
		}
	}

	.mobile .connect-step .step-container {
		width: 90%;
		left: 5%;

		.left {
			width: 65%;
			padding-left: 10%;
		}

		.right {
			width: 35%;
		}
	}

	.mportal {
		.primary {
			font-size: 1.1rem;
			padding-top: 12px;

			h1 {
				font-size: 1.3rem;
			}

			.btn {
				font-size: 1.1rem;
			}
		}
	}
}

@media (min-width:580px) {
	.mobile {
		.agreement h1, .connect-step .step-describe  {
			font-size: 16px;
		}
	}
	.mobile .connect-step .step-container {
		width: 80%;
		left: 10%;

		.left {
			width: 60%;
			padding-left: 10%;
		}

		.right {
			width: 40%;
		}
	}

	.mportal {
		.primary {
			font-size: 1.2rem;
			padding-top: 24px;

			h1 {
				font-size: 1.5rem;
				margin-bottom: 18px;
			}

			.btn {
				margin-top: 18px;
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 630px ) {
	.mobile {
		.agreement h1, .connect-step .step-describe  {
			font-size: 18px;
		}
	}

	.mportal {
		.primary {
			font-size: 1.5rem;
			padding-top: 48px;

			h1 {
				font-size: 2rem;
				margin-bottom: 24px;
			}

			.btn {
				margin-top: 24px;
				font-size: 1.5rem;
			}
		}
	}
}